
.channelTitle {
    font-family: Oswald;
    font-size: 148%;
    vertical-align: middle;
}

.slide .table {
    /* padding-top: 30%;
    padding-bottom: 20%; */
    padding-left: 5%;
    padding-right: 5%;
    text-align: right;
}

header {
    background-size: cover;
    background-position: center;
}

.slide .header-text h1 {
    font-size: 100%;
    width: 80%;
}

.header-text span {
    font-size: 128%;
    font-weight: bold;
}

.slide {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)) 0% 0% / cover;
    
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.channelSection {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    color: #cb0004;
    font-size: 156%;
    font-family: Oswald;
    text-transform: capitalize;
}

.videoTitle {
    font-weight: bold;
}